@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


* {
    color: white;
    font-family: 'Kanit', sans-serif;
    transition: all .3s ease-in-out;
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(1, 4, 9);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(1, 4, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 69;
    /*display: none; */
}

.overlay button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 12px;
    font-size: 24px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.overlay button:hover {
    transform: scale(1.05);
    background-color: rgba(125,125,125, 0.2);
}

.nav {
    position: fixed;
    background-color: rgb(13, 17, 23);
    width: calc(100% - 15px);
    height: 42px;
    transform-origin: left top;
    transform: scaleY(0);
    top: 0;
    border-radius: 15px;
    margin: 8px 8px 8px 8px;
    transition: all .3.5s ease-in-out;
    border: 3px solid;
    border-color: rgb(22, 27, 34);
}

.nav:hover {
    border-color: rgb(30, 51, 76);
}

.nav * {
    display: inline-block;
}

.navlinks {
    position: fixed;
    right: 0;
    margin-right: 12px;
}

.navlinks * {
    margin: 2px 0px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 9px;
    text-decoration: none;
    float: right;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    transform: scaleY(0);
}

.link:hover {
    color:rgb(0, 204, 255);
    cursor: pointer;
}

.selectedlink {
    cursor: default;
    color: rgb(0, 113, 148);
}

.navlinks img:hover {
    transform: scale(1.2);
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 12px;
}

.content-home {
    width: 100%;
    height: calc(100% - 58px);
    margin-top: 52px;
    transform: scaleY(0);
    transition: all 0.5s ease-in-out;
    /*position: absolute;
    z-index: -999; */
}

.content-home * {
    margin-left: 6px;
    margin-right: 6px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.vertical-center {
    height: calc(100% - 58px);
  
    display: flex;
    align-items: center;
}

.center-text {
    text-align: center;
}

.exo {
    font-family: 'Exo', sans-serif;
}
.exo * {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
}


.container-title {
    display: block;
    background-color: rgb(13, 17, 23);
    border: 3px solid;
    border-color: rgb(22, 27, 34);
    border-radius: 12px;
    margin: auto;
    max-width: 75%;
    overflow-wrap: break-word;
    font-family: fixedsys;
    text-align: center;
    line-height: 30px;
}

.container-title:hover {
    border-color: rgb(30, 51, 76);
}